/* ========================== Component Name ========================== */
$component: blog-25;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  padding: 40px 0 0;
}

.$(component) {
  width: 90%;
  max-width: var(--sm);
  margin: 0 auto;
  text-align: center;

  .page-numbers {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: white;
    margin: 0 5px;
    color: var(--blue);

    &:hover {
      color: white;
      background: var(--blue);
    }
  }

  .current {
    color: white;
    background-color: var(--teal);
  }

  .next {
    display: none;
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
}

/* ================ Query: Large */
$(is).LG .$(component){
  padding: 40px 0 125px;
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
